<% provide(:title, "ホーム") %>
<div>
  <h1 class="main-title">騒音問題に悩んでいる方
  マンションやアパートの音環境を共有しましょう</h1>
</div>

<div>
  <h3 class="explanation">マンション、アパートなどの音環境だけに特化した情報を投稿したり、見るサイトです。<br>
  間取りや駅からの距離などの情報だけでなく音環境は重要な住まいを選ぶポイントです。<br>
  騒音がないか、周りの環境は静かなのか、壁や住宅の構造についてなど音の環境についてぜひ共有しましょう。</h3>
</div>

<div class="col-md-8">
  <h3>投稿一覧</h3>
  <%= render 'shared/feed' %>
</div>
<div class="col-md-6">
    <strong>検索</strong>
      <%= search_form_for @q ,:url=>{:controller=>"posts",:action=>"index"} do |f| %>
        <%= f.label :"タイトル" %>
        <%= f.search_field :title_cont %>
        <%= f.label :"本文" %>
        <%= f.search_field :content_cont %>
        <%= f.label :"都道府県" %>
        <%= f.search_field :prefecture_cont %>
        <%= f.label :"市区町村" %>
        <%= f.search_field :city_cont %>
      
      <%= f.submit "検索" %>
    <%end%>
  </div>
