<% provide(:title, "ホーム") %>
<div>
  <h1>騒音問題に悩んでいる方
  マンションやアパートの音環境を共有しましょう</h1>
</div>

<div class="col-md-8">
  <h3>投稿一覧</h3>
  <%= render 'shared/feed' %>
</div>
<div class="col-md-6">
    <strong>検索</strong>
      <%= search_form_for @q ,:url=>{:controller=>"posts",:action=>"index"} do |f| %>
        <%= f.label :"タイトル" %>
        <%= f.search_field :title_cont %>
        <%= f.label :"本文" %>
        <%= f.search_field :content_cont %>
        <%= f.label :"都道府県" %>
        <%= f.search_field :prefecture_cont %>
        <%= f.label :"市区町村" %>
        <%= f.search_field :city_cont %>
      
      <%= f.submit "検索" %>
    <%end%>
  </div>
