<h1>アカウント情報</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <p>ニックネーム</p>
  <%= @user.name %>
  <p>メールアドレス</p>
    <%= @user.email %>
  <p>パスワード</p>
    <%= @user.password_digest %>
  <p>パスワード確認</p>
    <%= @user.password_digest %>
  </div>
    <%= link_to "アカウント削除", @user, data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" } %>

</div>