<%= form_with(model: @post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :タイトル, style: "display: block" %>
    <%= f.text_field :title, placeholder: "タイトルを書いてください..." %>
    <%= f.label :本文, style: "display: block" %>
    <%= f.text_area :content, placeholder: "本文を書いてください..." %>
    <%= f.label :都道府県, style: "display: block" %>
    <%= f.text_field :prefecture, placeholder: "都道府県を書いてください..." %>
    <%= f.label :市区町村, style: "display: block" %>
    <%= f.text_field :city, placeholder: "市区町村を書いてください..." %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  
  <%= f.submit "編集", class: "btn btn-primary" %>

<% end %>
