<%= form_with(model: @post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "タイトルを書いてください..." %>
    <%= f.text_area :content, placeholder: "本文を書いてください..." %>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
