<%= form_with(model: @post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field form">
    <%= f.label :物件名, style: "display: block" %>
    <%= f.text_field :title, placeholder: "物件名を書いてください..." %>
    <%= f.label :詳細, style: "display: block" %>
    <%= f.text_area :content, placeholder: "物件の詳細、音環境をご入力ください..." %>
    <p><%= f.label :評価 %><i class="fa-solid fa-star" style="color: #ffb10a;"></i></p>
    <%= f.number_field :score, step: '0.1', placeholder: "評価を1~5でご入力ください（小数点0.1まで入力可能です）..." %>
    <%= f.label :都道府県, style: "display: block" %>
    <%= f.text_field :prefecture, placeholder: "都道府県をご入力ください..." %>
    <%= f.label :市区町村, style: "display: block" %>
    <%= f.text_field :city, placeholder: "市区町村をご入力ください..." %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <%= f.submit "投稿", class: "btn btn-primary" %>

<% end %>
