<% provide(:title, "インデックス") %>
<div>
  <h1>騒音問題に悩んでいる方
  マンションやアパートの音環境を共有しましょう</h1>
</div>

<div class="col-md-8">
  <h3>投稿一覧</h3>

  <div class="posts">
  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="title-box">
        <div class="title">物件名 ： <%= post.title %></div>
        <div class="score"><i class="fa-solid fa-star" style="color: #ffb10a;"></i>  <%= post.score %></div>
      </div>
      <span class="content">
        <p>詳細 ： <%= post.content %></p>
        <br>
        <%= post.prefecture %>
        <br>
        <%= post.city %>
        <br>
        投稿者：<span class="user"><%= link_to post.user.name, post.user %></span>

        <%= image_tag post.image.variant(:display) if post.image.attached? %>
      </span>

      <span class="wrap">
        <% if !current_user %>
          <span style="color:red;"><i class="fa-solid fa-heart"></i></span>
          <%= post.favorites.count %>
        <% elsif current_user.already_favorited?(post) %>

          <%= button_to post_favorites_path(post), method: :delete, class: 'custom-class', form: { class: 'form-custom-class' } do %>
            <span style="color:red;"><i class="fa-solid fa-heart"></i></span>
            <%= post.favorites.count %>
          <% end %>

        <% else %>
          <%= button_to post_favorites_path(post), method: :post, class: 'custom-class', form: { class: 'form-custom-class' }  do %>
            <i class="fa-regular fa-heart"></i>
          <%= post.favorites.count %>
        <% end %>

        <% end %>
      </span>

      <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %>前
        <% if current_user?(post.user) %>
          <%= link_to "編集", edit_post_path(post) %>
          <%= link_to "削除", post, data: { "turbo-method": :delete,
                                                  turbo_confirm: "削除しますか?" } %>
        <% end %>
      </span>

    <% end %>

  <%= will_paginate @posts,
          params: { controller: :posts, action: :index } , :previous_label => ' &lt 前へ', :next_label => '次へ &gt'%>
 <% else %>
  <h4 class="search_result">検索結果がありませんでした。</h4>
 <% end %>

  </div>
</div>